<div class="text-center">
  <form action="/job/{{job['id']}}/apply" method="post" class="needs-validation" novalidate>
    <div class=" form-floating mb-3">
      <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
      <label for="floatingInput">Full Name</label>
      <div class="invalid-feedback">
        Please enter your full name.
      </div>
    </div>
    <div class=" form-floating mb-3">
      <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" required>
      <label for="floatingInput">First Name</label>
      <div class="invalid-feedback">
        Please enter your first name.
      </div>
    </div>
    <div class=" form-floating mb-3">
      <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" required>
      <label for="floatingInput">Last Name</label>
      <div class="invalid-feedback">
        Please enter your last name.
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" aria-label="Email Address" placeholder="Email Address" required>
      <label for="floatingInput">Email Address</label>
      <div class="invalid-feedback">
        Please enter your Email.
      </div>
    </div>
  
    <div class="input-group has-validation mb-3  flex-nowrap">
      <span class="input-group-text"><img src="/static/linkedin.png" alt="LI"></span>
      <div class="form-floating">
        <input type="url" class="form-control" aria-label="LinkedIn Profile" placeholder="LinkedIn Profile" required>
        <label for="floatingInputGroup2">LinkedIn Profile URL</label>
      </div>
    </div>
  
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="education" required></textarea>
      <label for="floatingTextarea">Education</label>
    </div>
  
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="Skills" required></textarea>
          <label for="floatingTextarea">Skills</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="experience" required>
            <option selected>Choose</option>
            <option value="1">Fresher</option>
            <option value="2">1 Year</option>
            <option value="3">2 Year</option>
            <option value="3">3 Year</option>
            <option value="3">4+ Year</option>
          </select>
          <label for="floatingSelectGrid">Work Experience</label>
        </div>
      </div>
    </div>
  
    <div class="input-group mb-2">
      <input type="file" class="form-control" id="inputFile" aria-describedby="inpuFile" aria-label="Upload" required>
      <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">Upload</button>
    </div>
  
    <div class="text-center">
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</div>

<script>
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>